
<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

<div class="wrapper">
<h1 class="title">Moda sustentável</h1>
<hr>
<p class="label"></p>
<img src="/imgs/img.jpeg" alt="" class="img">
</div>


<%- include ('partials/footer.ejs') %>