<%- include ('partials/header.ejs') %>

    <div class="container my-5">
        <div class="text-center text-white">
            <h1 class="display-4" style="color: #FF407D;"><strong>Filmes da Disney </strong></h1>
            <div class="card mx-5">
                <div class="mt-4">
                    <a href="/imagens" class="btn btn-info btn-lg shadow-sm px-4 text-white">Escolha seu filme!</a>
                </div>
            </div>
        </div>
    </div>